.rated-card-container,
.rated-card-left {
    display: flex;
}

.rated-card-container {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.rated-card-container:hover {
    background-color: var(--white);
    opacity: 0.8;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.rated-card-container:hover .rated-score {
    color: var(--primary-color);
}

.rated-card-right {
    flex: 4;
}

.rated-card-left {
    flex: 3;
    gap: 1rem;
}

.rated-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rated-card-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.rated-card-text {
    font-size: 1.1rem;
    font-weight: 500;
}

.rated-card-text span {
    font-size: 1.4rem;
    font-weight: 700;
}

.rated-card-img {
    width: 150px;
}

.rated-card-img img {
    height: 100%;
}

/** RATED CARD RIGHT **/

.rated-card-right {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.rated-card-bold-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.rated-card-comment {
    font-size: 1.1rem;
    font-weight: 500;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.rated-score {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--white);
}

/* width */
.rated-card-comment::-webkit-scrollbar {
    width: 14px;
    background-color: var(--white);
    border-radius: 10px;
}

/* Track */
.rated-card-comment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 8px;
}

/* Handle */
.rated-card-comment::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    background-clip: content-box;
    border: 2px solid transparent;
}
