.nav-link {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

nav {
    border-bottom: 1px solid var(--primary-color);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.auth-container {
    display: flex;
    gap: 1rem;
}
